div {
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
}

.floorplan {
  display: grid;
}

.kitchen {
  background-color: green;
}

.oven {
  background-color: lightgreen;
}

.sink {
  background-color: olive;
}

.livingroom {
  background-color: orange;
}

#bath-Half {
  background-color: yellow;
}

#bath-Full {
  background-color: red;
}

#bed-1 {
  background-color: blue;
}

#bed-2 {
  background-color: aquamarine;
}

#bed-3 {
  background-color: lightskyblue;
}